* {
     margin: 0; 
     padding: 0; 
      box-sizing: border-box; 
     } 


body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
} 
.container { 
    text-align: center; 
} 
p{
    margin: 30px;
    font-size: large;
    text-align: center;
}
 h1 { 
    margin: 20px; 
} 
h2{
    margin-top: 60px;
    margin-bottom: 20px;
    
}
 #recipe { 
    margin: 20px;
     background-color: #fff; 
     padding: 20px; 
     border-radius: 8px; 
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    } 
 #recipe img { 
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
    margin-bottom: 20px;
 } 
 button { 
     background-color: #ff6347;
     color: white;
     border: none; padding: 10px 20px; 
     font-size: 16px; 
     border-radius: 5px; 
     cursor: pointer;
     margin: 25px;
     float: right;
 } 
 button:hover { 
    background-color: #ff4500; 
}

@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}